<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
            aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
        <span class="sr-only">VillagerDb</span>
        <img class="sr-hidden" src="/images/logo-navbar.png" alt="VillagerDB logo" />
    </a>

    <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/villagers/page/1">Villagers</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="menu-items" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Clothing
                </a>
                <div class="dropdown-menu" aria-labelledby="menu-items">
                    <a class="dropdown-item" href="/items/accessories/page/1">Accessories</a>
                    <a class="dropdown-item" href="/items/bottoms/page/1">Bottoms</a>
                    <a class="dropdown-item" href="/items/dresses/page/1">Dresses</a>
                    <a class="dropdown-item" href="/items/hats/page/1">Hats</a>
                    <a class="dropdown-item" href="/items/shoes/page/1">Shoes</a>
                    <a class="dropdown-item" href="/items/socks/page/1">Socks</a>
                    <a class="dropdown-item" href="/items/tops/page/1">Tops</a>
                    <a class="dropdown-item" href="/items/umbrellas/page/1">Umbrellas</a>
                    <a class="dropdown-item" href="/items/wetsuits/page/1">Wetsuits</a>
                </div>
            </li>
        </ul>
    </div>
</nav>