<ul class="list-inline share-buttons">
    {{#if showAddButton}}
        <li class="list-inline-item">
            <div class="entity-dropdown-init" data-entity-type="{{entityType}}" data-entity-id="{{entityId}}"
                data-show-label="true"></div>
        </li>
    {{/if}}
    <li class="list-inline-item">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{shareUrl}}"
        title="Share on Facebook" target="_blank" class="btn btn-facebook sharing-button">
            <span class="fab fa-facebook-f"></span>
            <span class="sr-only">Share on Facebook</span>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://twitter.com/intent/tweet?url={{shareUrl}}"
        title="Tweet" target="_blank" class="btn btn-twitter sharing-button">
            <span class="fab fa-twitter"></span>
            <span class="sr-only">Share on Twitter</span>
        </a>
    </li>
</ul>