{{> searchBar result=result }}
{{> birthdays birthdays=birthdays shouldDisplayBirthdays=shouldDisplayBirthdays }}
<h1>{{pageTitle}}</h1>

<div id="entity-browser" data-initial-state="{{initialState}}" data-all-filters="{{allFilters}}"></div>