.catalog-choosers {
  a, a:hover, a:visited {
    color: #000;
  }

  a:hover {
    text-decoration: none;

    .catalog-chooser p {
      text-decoration: underline;
    }
  }

  .catalog-chooser {
    padding: 15px 0 20px 0;
    border: 5px solid #eee;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    p {
      margin: 0 0 10px 0;
      text-align: center;
      font-weight: bold;
    }
  }

  .villagers-link, .villagers-link:hover, .villagers-link:visited {
    color: #264653;
  }

  .clothing-link, .clothing-link:hover, .clothing-link:visited {
    color: #2a9d8f;
  }

  .equipment-link, .equipment-link:hover, .equipment-link:visited {
    color: #e9c46a;
  }

  .nature-link, .nature-link:hover, .nature-link:visited {
    color: #f4a261;
  }

  .furniture-link, .furniture-link:hover, .furniture-link:visited {
    color: #e76f51;
  }

  .collectibles-link, .collectibles-link:hover, .collectibles-link:visited {
    color: #a52422;
  }
}

.character-intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  .character-image {
    width: auto;
    max-height: 150px;
    margin-right: 10px;
  }

  .character-dialog {
    background: #fffae1;
    color: black;
    font-weight: bold;
    border-radius: 15px;

    .character-name {
      font-weight: bold;
      display: inline-block;
      position: relative;
      top: -1rem;
      left: 1rem;
      padding: 5px 10px 5px 10px;
      border-radius: 10px;
      background: #cb8444;
      color: #492010;
    }

    .character-name-pave {
      background: #5ccabf !important;
      color: #e8ede1 !important;
    }

    p {
      position: relative;
      top: -1rem;
      margin: 0;
      padding: 10px 10px 0 10px;

      a {
        font-weight: bold;
      }
    }
  }
}